<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div *ngIf="poke">
      <ion-item>
        <ion-label position="stacked">Tipo</ion-label>
        <ion-input [(ngModel)]="poke.tipo"></ion-input>
      </ion-item>
   
      <ion-item>
        <ion-label position="stacked">Generacion</ion-label>
        <ion-textarea [(ngModel)]="poke.generacion" rows="8"></ion-textarea>
      </ion-item>
    </div>
   
    <ion-button expand="block" color="success" (click)="updatePoke()">
      <ion-icon name="save" slot="start"></ion-icon>
      Actualizar
    </ion-button>
    <ion-button expand="block" color="danger" (click)="deletePoke()">
      <ion-icon name="trash" slot="start"></ion-icon>
      Borrar
    </ion-button>

</ion-content>
