<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Listado de Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item *ngFor="let poke of pokes" (click)="openPoke(poke)">
    <ion-label>
      {{ poke.nombre }}
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addPoke()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
